# Site wide configuration

title: "黄钦勇的个人博客"
description: "无念流，作品集，个人网站，网页设计期末专题"
logo: # 个人的logo120x120 px default image used for Twitter summary card
teaser: # 400x250 px default teaser image used in image archive grid
locale: zh_CN # 本地化翻譯
url:
feed:
  path: atom.xml

# Jekyll configuration

sass:
  sass_dir: _sass
  style: compressed
permalink: /:categories/:tag/:title/
kramdown:
  toc_levels: 1..2
highlighter: rouge
gems:
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed


# Site owner
owner:
  name: 黄钦勇的个人博客
  email: 2426139993@qq.com
  twitter: 
  google:
    ad-client:
    ad-slot:
  bio: "黄钦勇，男；中山大学南方学院文学传媒学院2016级网络与新媒体专业学生；H组成员；代号无念流"
  avatar: hungqinyong.jpg 1967×2905 px image for author byline
  disqus-shortname:


include:
  - .htaccess
exclude:
  - "*.less"
  - "*.sublime-project"
  - "*.sublime-workspace"
  - .asset-cache
  - .bundle
  - .jekyll-assets-cache
  - .sass-cache
  - CHANGELOG
  - Capfile
  - Gemfile
  - Gruntfile.js
  - LICENSE
  - README
  - Rakefile
  - config
  - gulpfile.js
  - lib
  - log
  - node_modules
  - package.json
  - spec
  - tmp
port: 5001