---
layout: default
title:  "可视化作品介绍"
categories: infovis
---
<a href="https://161013042.github.io/infovis/信息可视化期末专题"><img src="qmzp.png" alt="图片加载失败"></a>
<div class="tiles">
{% for post in site.posts %}
	{% if post.categories contains 'infovis' %}
		{% for title in post.title %} 
						{% include post-grid.html %}		
						
		{% endfor %}
	{% endif %}
{% endfor %}
</div><!-- /.tiles -->
<a href="https://161013042.github.io/infovis/example.html"><img src="tableau.png" alt="图片加载失败"><br>H组的信息可视化其中作品</a>